{% extends 'base.html' %}

{% block content %}

<div class="container bg-light shadow-md p-5 form-layout">
	<div class="d-flex flex-column">
		<h2 class="h3 mb-3 font-weight-normal">Password resent sent</h2>
		<p class="m-auto p-2">
			We've emailed you instructions for setting your password, if an account exists with the email
			you entered.
			You should receive them shortly.
		</p>
		<p class="m-auto p-2">
			If you don't receive an email, please make sure you've entered the address you registered with,
			and check your spam folder.
		</p>
		<p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div>

{% endblock content %}