{% extends 'base.html' %}

{% block content %}

<div class="container bg-light shadow-md p-5 form-layout">
  <form id="id_password_reset_form" method="POST" class="form-signin" autocomplete="off">
    {% csrf_token %}
    <h2 class="h3 mb-3 font-weight-normal">Forget password</h2>
    <p class="text-lead">Enter your email and we'll send you a link to reset your password</p>
    <input name="email" class="form-control mb-1" placeholder="Email address" type="email" id="id_email"
      required="true">
    <br>
    <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block">Submit</button>
  </form>
</div>

{% endblock content %}